{% extends 'index.html' %}

{% block title %}
    {{ super() }} - {{title }}
{% endblock %}


{% block content %}
<div class="Layers center">
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/layers_1.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">ELLERY X M'O CAPSULE </p>
                <div class="block_text">
                    <p class="layer_14">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="fig">
            <div class="layers_pict">
                <img src="/static/img/layers_2.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">ELLERY X M'O CAPSULE </p>
                <div class="block_text">
                    <p class="layer_14">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/layers_3.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">ELLERY X M'O CAPSULE </p>
                <div class="block_text">
                    <p class="layer_14">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/layers_4.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">ELLERY X M'O CAPSULE </p>
                <div class="block_text">
                    <p class="layer_14">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/layers_5.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">ELLERY X M'O CAPSULE </p>
                <div class="block_text">
                    <p class="layer_14">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/layers_6.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">ELLERY X M'O CAPSULE </p>
                <div class="block_text">
                    <p class="layer_14">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}