{% extends 'index.html' %}

{% block title %}
{{ super() }} - {{title }}
{% endblock %}


{% block content %}
<div class="Layers center">
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/hats_1.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">Широкополая шляпа </p>
                <div class="block_text">
                    <p class="layer_14">Классическая и знакомая всем модель шляп, раньше принадлежала только богатому
                        сословию, но на сегодняшний день эту модель может позволить себе каждая девушка.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="fig">
            <div class="layers_pict">
                <img src="/static/img/hats_2.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">Ковбойская шляпа </p>
                <div class="block_text">
                    <p class="layer_14">Образ ковбоя на телеэкранах будоражит многих, ведь смотрится достаточно дерзко,
                        стильно, смело и кокетливо одновременно.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/hats_3.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">Гаучо</p>
                <div class="block_text">
                    <p class="layer_14">Гаучо-шляпки представляют собой головной убор, имеющий прямые края и плоскую
                        тулью. Изготавливается из большого множества материалов, таких как фетр, замша, шерсть, солома.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/hats_4.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">Федора </p>
                <div class="block_text">
                    <p class="layer_14">Такой элегантный вид шляпы обладает мягкими полями и стильной конструкцией.
                        Шляпка может изготавливаться для летнего сезона из соломы, а украшаться ленточками, косичками или камнями.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/hats_5.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">Котелок </p>
                <div class="block_text">
                    <p class="layer_14">Отличается этот вид шляпы от всех других небольшими полями, округлой тулью и
                        известной рапсовой лентой. Котелок способен сделать образ девушки более элегантным и нежным.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/hats_6.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">Канотье</p>
                <div class="block_text">
                    <p class="layer_14">Отличный вариант для летнего гардероба. Представляет собой соломенный «блинчик» жесткой формы с широкой лентой на тулье.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}