{% extends 'index.html' %}

{% block title %}
{{ super() }} - {{title }}
{% endblock %}

{% block content %}
<div class="Layers center">
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/hw_1.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">2А36 Гиацинт-Б</p>
                <div class="block_text">
                    <p class="layer_14">На вооружение Советского Союза пушка 2А36 Гиацинт-Б была поставлена в 1976 году, действует по сей день.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="fig">
            <div class="layers_pict">
                <img src="/static/img/hw_2.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">2А65 Мста-Б </p>
                <div class="block_text">
                    <p class="layer_14">В 1986 году 152-мм гаубица «Мста-Б» была принята на вооружение
                        Сухопутных войск ВС СССР, в настоящее время находится на вооружении ВС России и некоторых стран СНГ.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/hw_3.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">Д-30А </p>
                <div class="block_text">
                    <p class="layer_14">В 1978 году буксируемая гаубица Д-30А была принята на вооружение и является действующей до сих пор.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}