<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
        <style>
        .fig {
            text-align: center; /* Выравнивание по центру */
        }

        .rectangle_ramka {
            border: 1px solid red;
        padding: 0 10px;
        }

        .rectangle_text_and_corzina {
            border: 1px solid white;
        }
        </style>

    <script language="JavaScript" type="text/javascript">
    <!--
    function linklist(what){
    var selectedopt=what.options[what.selectedIndex]
    if (document.getElementById && selectedopt.getAttribute("target")=="new")
    window.open(selectedopt.value)
    else
    window.location=selectedopt.value
    }
    -->
    </script>

</head>
<body>
<div class="Rectangle center">
    <div class="Rect_first">
        <img src="/static/img/Rectangle_group.svg"  alt="image">
        <button type="button" name="search"><img src="/static/img/Rectangle_forma.svg" alt="photo"></button>
    </div>
    <div class="Rect_second">
        <div class="rect_second_0">
            <form name="menu">
                <label for="product-select">Каталог товаров</label>
                <select name="sel"  id = "product-select">
                    <option value="#">-- выберите товар --</option>
                    <option value="http://127.0.0.1:5000/index/" target="new">Базовая страница</option>
                    <option value="http://127.0.0.1:5000/clothes/" target="new">Одежда</option>
                    <option value="http://127.0.0.1:5000/shoes/" target="new">Обувь</option>
                    <option value="http://127.0.0.1:5000/hats/" target="new">Шляпы</option>
                    <option value="http://127.0.0.1:5000/heavy_weapons/" target="new">Тяжелое вооружение</option>
                    <option value="http://127.0.0.1:5000/mg/" target="new">Пулемет</option>

                    <input type="button" value=" Перейти " onClick="linklist(document.menu.sel)">
                </select>
            </form>

        </div>
        <div class="rect_second_1">
            <button type="button" name="assept1"><img src="/static/img/Rectangle_group_1.svg" alt="photo"></button>
        </div>
    <div class="rect_second_2">f
        <button type="button" name="assept2"><img src="/static/img/Rectangle_group_2.svg" alt="photo"></button>
    </div>
    <div class="rect_second_3">
        <button type="button" name="assept3"><img src="/static/img/Rectangle_group_3.svg" alt="photo"></button>
    </div>
</div>
</div>
<div class="Background center">
    <div class="Background_picture">
        <img src="/static/img/Background_left.svg" alt="image">
    </div>
    <div class="Background_rectangle_all">
        <div class="Background_rectangle">
        </div>
        <div class="Background_text">
            <p class="Text48">THE BRAND </p>
            <p class="Text32">OF LUXERIOUS  <span class="Pinktext32">FASHION</span> </p>
        </div>
    </div>
</div>
<div class="Header center">
    <div class="header_small_all">
        <div class="header_small">
            <div class="block center">
                <img src="/static/img/Header_1.svg"  alt="image">
            </div>
            <div class="header_rectangle_small center">
                <p class="Header_1_text_16">30% OFF </p>
                <p class="Header_1_text_24">FOR WOMEN </p>
            </div>
        </div>
        <div class="header_small">
            <div class="block">
                <img src="/static/img/Header_2.svg"  alt="image">
            </div>
            <div class="header_rectangle_small">
                <p class="Header_1_text_16">HOT DEAL </p>
                <p class="Header_1_text_24">FOR MEN </p>
            </div>
        </div>
        <div class="header_small">
            <div class="block">
                <img src="/static/img/Header_3.svg"  alt="image">
            </div>
            <div class="header_rectangle_small">
                <p class="Header_1_text_16">NEW ARRIVALS  </p>
                <p class="Header_1_text_24">FOR KIDS </p>
            </div>
        </div>
    </div>
    <div class="header_long">
        <div class="block">
            <div class="block_long">
                <img src="/static/img/Header_long.svg"  alt="image">
            </div>
        </div>
        <div class="header_rectangle_long">
            <p class="Header_1_text_16">LUXIROUS & TRENDY </p>
            <p class="Header_1_text_24">ACCESORIES </p>
        </div>
    </div>
</div>
<p class="Paragraph_38" >Fetured Items </p>
<p class="Paragraph_14 center">Shop for items based on what we featured in this week </p>
{% block content %}
{% endblock %}
<div class="Rectangle_browse">
    <div class="rectangle_ramka">
        <button type="button" name="browse_all"><p class="Text_Brother" >Browse All Product </p></button>
    </div>
</div>
<div class="Feature center">
    <div class="Feature_rectangle center">
        <img src="/static/img/Feature_1.svg"  alt="image">
        <p class="Text_Feature_20">Free Delivery </p>
        <p class="Text_Feature_14">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
    </div>
    <div class="Feature_rectangle center">
        <img src="/static/img/Feature_2.svg"  alt="image">
        <p class="Text_Feature_20">Sales & discounts</p>
        <p class="Text_Feature_14">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
    </div>
    <div class="Feature_rectangle center">
        <img src="/static/img/Feature_3.svg"  alt="image">
        <p class="Text_Feature_20">Quality assurance </p>
        <p class="Text_Feature_14">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
    </div>
</div>
<div class="Frame_all">
    <div class="Frame_background">
        <img src="/static/img/Frame_backg.jpg"  alt="image_jpg">
    </div>
    <div class="Frame">
        <div class="Subscribe_photo">
            <img src="/static/img/Frame_photo.svg"  alt="image">
            <p class="Text_Frame_20">“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum“ </p>
        </div>
        <div class="Subscribe_text">
            <div class="Subscribe_rectangle">
                <p class="Subscribe_text_24 center">SUBSCRIBE </p>
                <p class="Subscribe_text_18 center">FOR OUR NEWLETTER AND PROMOTION </p>
                <div class="Subscribe_text_pictures">
                    <div class="Rounder_recktangle_all">
                        <div class="Rounder_rectangle_5">
                            <img src="/static/img/Frame_Rectangle_5.svg"  alt="image">
                            <p class="Subscribe_text_pictures_email">Enter Your Emale</p>
                        </div>
                        <div class="Rounder_rectangle_5_rev">
                            <img src="/static/img/Frame_Rectangle_5_1.svg"  alt="image">
                            <p class="Subscribe_text_pictures_subscribe">Subscribe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="Frame7">
    <div class="Frame7_rectangle_text">
        <p class="Freame7_15">© 2022  Brand  All Rights Reserved. </p>
    </div>
    <div class="Frame7_rectangle_img">

        <div class="Frame7_square">
            <button type="button" name="image-button"><img src="/static/img/VFrame7_1.svg"  alt="img_little"></button>
        </div>
        <div class="Frame7_square">
            <button type="button" name="image-button"><img src="/static/img/VFrame7_2.svg"  alt="img_little"></button>
        </div>
        <div class="Frame7_square">
            <button type="button" name="image-button"><img src="/static/img/VFrame7_3.svg"  alt="img_little"></button>
        </div>
        <div class="Frame7_square">
            <button type="button" name="image-button"><img src="/static/img/VFrame7_4.svg"  alt="img_little"></button>
        </div>
    </div>
</div>

</body>
</html>