{% extends 'index.html' %}

{% block title %}
{{ super() }} - {{title }}
{% endblock %}

{% block content %}
<div class="Layers center">
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/sh_1.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">Балморалы (balmorals) </p>
                <div class="block_text">
                    <p class="layer_14">Туфли или ботинки с закрытой шнуровкой и длинными прямыми швами по бокам.
                        Эту модель придумали в Лондоне; по одной из версий, их начали шить для принца Альберта.
                        Классическим материалом для балморалов считают гладкую телячью кожу.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="fig">
            <div class="layers_pict">
                <img src="/static/img/sh_2.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">Аделаиды (adelaides) </p>
                <div class="block_text">
                    <p class="layer_14">Довольно редкая модель оксфордов. Отличаются от других туфель с закрытой ш
                        нуровкой тем, что у них нет боковых швов, но есть U-образный шов вокруг шнуровки.
                        Часто можно увидеть варианты с отрезными мысами и декоративной перфорацией вдоль швов,
                        но это необязательные детали модели.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/sh_3.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">Бабуши (babouches) </p>
                <div class="block_text">
                    <p class="layer_14">летняя женская обувь без каблука. Этот вид напоминает домашние тапочки со
                        стоптанной пяткой. Они пришли в Европу из Африки. Пик популярности бабуш пришёлся на 60-е.
                        Возможные материалы: кожа, текстиль, плетёная соломка и многие другие. Также встречаются
                        модели из комбинированных материалов.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/sh_4.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">Лоферы с пряжками (horsebit loafers) </p>
                <div class="block_text">
                    <p class="layer_14">впервые выпустил итальянский бренд Gucci в 1953 году.
                        Главной особенностью модели являются металлические пряжки поверх кожаного или замшевого
                        верха. За долгую историю существования Gucci многое в дизайнерской продукции изменилось,
                        однако фирменные лоферы с пряжками остались прежними. Сегодня есть много производителей,
                        в чьём ассортименте встречаются такие модели.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/sh_5.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">Абаркасы (avarcas) </p>
                <div class="block_text">
                    <p class="layer_14">сандалии, которые придумали испанские крестьяне с острова Менорка.
                        Это летняя обувь с закрытым носом и открытой пяткой. Традиционно изготавливается из
                        натуральных материалов. В Россию абаркасы привёз бренд Legitimas.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
    <div class="Layers_small">
        <div class="layers_in_out">
            <div class="layers_pict">
                <img src="/static/img/sh_6.svg"  alt="image">
            </div>
            <div class="layers_add">
                <div class="forma1">
                    <img src="/static/img/layers_rectangle_add.svg"  alt="image">
                </div>
                <p class="layer14_writh">Add to Cart </p>
            </div>
        </div>
        <div class="layers_rectangle">
            <div class="layer_text">
                <p class="layer_13">Аскетичные броги (austerity brogues) </p>
                <div class="block_text">
                    <p class="layer_14">Классические туфли с W-образными швами на мысах. Главной особенностью аскетичных
                        брогов является отсутствие декоративной перфорации (отсюда и название). Модель пришла из мужского
                        гардероба, как и большинство классических вариантов.</p>
                </div>
                <p class="layer_16">$52.00 </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}